<div id="secretaryPatients" class="section active">
    <h3>Lista de Pacientes</h3>
    <table id="patientsTable">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="secretaryPatientsList">
        </tbody>
    </table>

    <div id="noPatientsMessage" class="no-data" style="display:none;">No hay pacientes registrados</div>
</div>